<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книг</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search}">
    <label fot="staring_with">Введите поисковой запрос: </label>
    <input type="text" th:name="starting_with" id="starting_with"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>
<br/>
<div th:if="${!books.isEmpty()}" th:each="book : ${books}">
    <tr th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYear()}">BN</tr>
    <p th:if="${book.getOwner()!=null}" th:text="${'Книга сейчас у: '+book.getOwner().getFullName()}"></p>
    <p th:if="${book.getOwner()==null}">Книга свободна</p>
    <hr/>
</div>
    <tr th:if="${books.isEmpty() && booksNot!=null}">Книг не найдено</tr>
</body>
</html>